{% extends 'layout/base' %}

{% block content %}
<!-- Main content -->
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content" style="margin-top: 10px;">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-lg-6">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="Room.createRoom();">채팅방 등록</button>
                          </span>
                            <input id="room-name" type="text" class="form-control"  placeholder="방제 입력">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary card-outline">
                            <div class="card-body table-responsive">
                                <table class="table table-hover table-sm table-bordered">
                                    <thead>
                                    <tr class="text-center">
                                        <th class="align-middle table-active" style="width: 100px;"><label>채팅방
                                            번호</label></th>
                                        <th class="align-middle table-active"><label>채팅방 이름</label></th>
                                        <th class="align-middle table-active" style="width: 150px;"><label>등록일</label>
                                        </th>
                                        <th class="align-middle table-active" style="width: 150px;"><label>수정일</label>
                                        </th>
                                        <th colspan="2" style="width: 150px;" class="align-middle table-active">
                                            <label></label>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody id="chat-room-list">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- template piece 영역 (ie 도 지원해야 하여 template tag 사용 안함)-->
<div id="chat-room-list-template" style="display: none;">
    <table>
        <tr class="text-center bg-gray-light">
            <td class="align-baseline room-id">1</td>
            <td class="align-baseline room-name"><a href="/chat/chat-room-detail/1">1번채팅방</a></td>
            <td class="align-baseline created-date">test2</td>
            <td class="align-baseline modified-date">test2</td>
            <td class="align-baseline" style="width: 60px;">
                <button type="button" class="btn btn-sm btn-outline-primary">방 정보 수정</button>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript"
        src="/scripts/room.js"></script>
{% endblock content%}