<!-- header nav bar -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/chat/chat-room">채팅방 리스트</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul id="navbar-right" class="nav navbar-nav navbar-right">

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<script type="text/javascript">
    $(document).ready(function() {
        var accessToken = Commons.getCookie(Constants.ACCESS_TOKEN);
        var $navbarRight = $("#navbar-right")
        // 귀찬트아.. 어차피 추후에 버릴 UI.. ㅡ.ㅡ
        if(Commons.isEmpty(accessToken)) {
            $navbarRight.append("<li><a href=\"/sign/signin\">로그인</a></li>\n" +
                                "<li><a href=\"/sign/signup\">등록</a></li>")
        } else {
            $navbarRight.append("<li><a id=\"logout\">로그아웃</a></li>\n" +
                                "<li class=\"dropdown\">\n" +
                                "    <a href=\"#\" class=\"dropdown-toggle\"\n" +
                                "       data-toggle=\"dropdown\">회원메뉴 <b class=\"caret\"></b></a>\n" +
                                "    <ul class=\"dropdown-menu\">\n" +
                                "        <li><a href=\"/sign/signup\">정보수정</a></li>\n" +
                                "        <li class=\"divider\"></li>\n" +
                                "        <li><a href=\"#\">프로그램 정보</a></li>\n" +
                                "        <li><a href=\"/sign/deleteUser\">회원탈퇴</a></li>\n" +
                                "    </ul>\n" +
                                "</li>");
        }

        $("#logout").on("click", function(e) {
           Commons.logout();
        })
    });
</script>