{% extends 'layout/base' %}

{% block content %}

<div class="signin">
    <form id="login-form" class="form-signin">
        <h2 class="form-signin-heading">로그인 해주세요</h2>
        <input id="username" name="username" class="form-control"
               placeholder="Your signin id..." required="required"
               autofocus="autofocus" type="text"/>
        <input id="password"
               name="password" type="password" class="form-control"
               placeholder="Your password..." required="required"/>
        <!--    <label class="checkbox">
                <input value="remember-me" type="checkbox">Remember me</input>
            </label>-->

        <button id="login-btn" class="btn btn-lg btn-primary btn-block" type="button"
                value="Authenticate">로그인
        </button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var $loginBtn = $("#login-btn");

        $loginBtn.click(function () {
            $.ajax({
                url: '/login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify($('#login-form').serializeObject()),
                success: function (data, textStatus, request) {
                    console.log("data", data);
                    console.log("textStatus",textStatus)
                    console.log("request",request)
                    if(request) {
                        var authorization = request.getResponseHeader(Constants.AUTHORIZATION);
                        console.log(authorization);
                        Commons.setCookie('access_token', authorization, 1);
                        location.href = "/";
                    } else {
                        alert("로그인 실패");
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            }).done(function() {
                console.log("done");
            });
        });
    });
</script>

{% endblock content%}