{% extends 'layout/base' %}

{% block content %}
<div class="signup">


    <h2 class="form-signup-heading">정보수정</h2>

    <form action="/sign/save" method="post" class="form-signup">
        <label for="email">Email: </label>
        <input name="email" id="email" required="required" class="form-control"
               placeholder="Your email..."/>
        <br/>

        <label for="name">Name: </label>
        <input name="name" id="name" required="required"
               class="form-control" placeholder="Your name..."/>
        <br/>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required="required"
               class="form-control" placeholder="Your password..."/>
        <br/>

        <input type="button"
               class="btn btn-lg btn-primary btn-block signup-margin-top signup-btn"
               value="Submit"/>
    </form>
</div>


<script>
/***
 * TODO: Wrapping 필요
 */
$(document).ready(function () {

    var $signupBtn = $(".signup-btn");
    var $formSignupHeading = $(".form-signup-heading");

    if(Commons.getCookie(Constants.ACCESS_TOKEN)) {
        $formSignupHeading.text("정보수정");
    } else {
        $formSignupHeading.text("등록 해주세요");
    }

    // enter key
    $("#password").keydown(function (key) {
        if (key.keyCode == 13) {
            $signupBtn.trigger("click");
            return false;
        }
    });

    $signupBtn.click(function () {
        $.ajax({
            url: '/sign/save',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify($('.form-signup').serializeObject()),
            success: function (data) {
               console.log(data);
               alert("가입성공");
               location.href = "/";
            },
            error: function (err) {
                console.log(err)
            }
        }).done(function() {
        });
    });
});

</script>

{% endblock content%}